In [2]:
#1330번 
#정수라고 안 해줘서 틀린 답 인듯 
a,b=input().split()

if a > b :
    print(">")
elif a < b :
    print("<")
else :
    print("==")

 3 4

<

In [3]:
A,B=map(int, input().split())

if A > B :
    print(">")
elif A < B :
    print("<")
else :
    print("==")

 3 4

<

In [6]:
#9498번
score=int(input())

if score >= 90 and score <=100 :
    print("A")
elif score >=80 and score <=89 :
    print("B")
elif score >=70 and score <=79 :
    print("C")
elif score >=60 and score <=69 :
    print("D")
else :
    print("F")

 90

A

In [12]:
#2753번
year=int(input())
if year%4==0 and year%100 !=0 :
    print("1")
elif year%400==0 :
    print("1")
elif year%100==0 and year%400 !=0:
    print("0")
else :
    print("0")

 2012

1

In [7]:
#500과 1000 사이의 홀수들의 합계 for문 이용
total=0
for i in range(500,1001) :
    if i%2==1 :
        total+=i
print(total)

187500

In [5]:
# 1에서 10까지의 합계 while 
a=0 
i=1
while i <= 10 :
    a+=i
    i+=1
print(a)

55

In [6]:
sum = 0 
for i in range(500,1000): 
    if(i%2==1): 
        sum += i 
print(sum)

187500

In [10]:
result = 0
for i in range(501, 1001) : 
    if i % 2 != 0 : 
        result += i 
print(result)

187500

In [51]:
#2884번 알람시계
h,m=map(int,input().split())
if m < 45 :
    m=60-(45-m)
    if h==0:
        h=23
    else:
        h -=1
else :
    m=m-45
print("%d %d" %(h,m))

 0 55

0 10

In [31]:
#2739번 구구단 
i = int(input())
for j in range(1,10):
        a=i*j
        print(i ,"*", j, "=", a)

 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [36]:
#2742번 기찍N
a=int(input())
for i in range(a,0,-1):
    print(i)

 7

7
6
5
4
3
2
1

In [38]:
#2438번 별찍기 
i=int(input())
for i in range(1,i+1):
    print('*'*i)

 3

*
**
***